<mat-card class="card-container">

  <mat-card class="card">
    <div class="title">
      <mat-label>رفع ملف موظفين</mat-label>
    </div>
    <div class="icon" routerLink="/department-employee-upload">
      <mat-icon color="primary">cloud_upload</mat-icon>
    </div>
  </mat-card>
  <mat-card class="card">
    <div class="title">
      <mat-label>الأقسام</mat-label>
    </div>
    <div class="icon" routerLink="/department-list">
      <mat-icon color="primary">domain</mat-icon>
    </div>
  </mat-card>

</mat-card>
<div class="spacer"></div>
