<mat-card class="card-container">
 <mat-card class="card" color="primary">
 <div class="title">
  <mat-label color="accent">الحسابات</mat-label>
 </div>
 <div class="icon">
  <mat-icon color="primary">home</mat-icon>
 </div>
 </mat-card>
 <mat-card class="card" color="primary">
  <div class="title">
   <mat-label color="accent">مجموعة الحسابات</mat-label>
  </div>
  <div class="icon">
   <mat-icon color="primary">home</mat-icon>
  </div>
  </mat-card>
  <mat-card class="card" color="primary">
    <div class="title">
     <mat-label color="accent">مجموعة الحسابات</mat-label>
    </div>
    <div class="icon">
     <mat-icon color="primary">home</mat-icon>
    </div>
    </mat-card>
</mat-card>
<div class="spacer"></div>
<mat-card class="card-container">
  <mat-card class="card" color="primary">
  <div class="title">
   <mat-label color="accent">الحسابات</mat-label>
  </div>
  <div class="icon">
   <mat-icon color="primary">home</mat-icon>
  </div>
  </mat-card>
  <mat-card class="card" color="primary">
   <div class="title">
    <mat-label color="accent">مجموعة الحسابات</mat-label>
   </div>
   <div class="icon">
    <mat-icon color="primary">home</mat-icon>
   </div>
   </mat-card>
   <mat-card class="card" color="primary">
     <div class="title">
      <mat-label color="accent">مجموعة الحسابات</mat-label>
     </div>
     <div class="icon">
      <mat-icon color="primary">home</mat-icon>
     </div>
     </mat-card>
</mat-card>
