<mat-card class="card-container">
  <mat-card class="card">
    <div class="title">
      <mat-label>رفع بيانات الموظفين</mat-label>
    </div>
    <div class="icon" routerLink="/upload-employees">
      <mat-icon color="primary">people</mat-icon>
    </div>
  </mat-card>

  <mat-card class="card">
    <div class="title">
      <mat-label>الموظفين</mat-label>
    </div>
    <div class="icon" routerLink="/employee-list">
      <mat-icon color="primary">people_outline</mat-icon>
    </div>
  </mat-card>

</mat-card>
<div class="spacer"></div>
