<div class="page-header">

  <h2>
    <mat-icon>cloud_upload</mat-icon>
    رفع ملف موظفين
  </h2>


</div>

<form [formGroup]="departmentForm" (ngSubmit)="submit()">
  <mat-card>
    <div class="form-filed">
      <mat-label> اختار القسم</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>اختار ....</mat-label>
        <mat-select (selectionChange)="onSelectionChange($event)" formControlName="selectedDepartmentId">
          <mat-option *ngFor="let department of departments" [value]="department.id">{{department.name}}</mat-option>

        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-filed">
      <mat-label>ملف بيانات الموظفين </mat-label>
      <button [disabled]="!selectedDepartmentId" type="button" mat-raised-button (click)="fileInput.click()"> اختار
        الملف
        .....</button>
      <input formControlName="fileUpload" hidden (change)="onFileSelected()" #fileInput type="file" id="file">
      <div class="file-path">
        <mat-label>{{fileName}} </mat-label>
        <mat-progress-bar mode="determinate" [value]="progress" #progressbar></mat-progress-bar>
      </div>

    </div>
    <mat-action-row style="display :flex;justify-content:center; padding: 20px;">
      <button [disabled]="uploading" type="submit" mat-raised-button color="primary">
        <mat-icon> cloud_upload </mat-icon>
        رفع الملف


      </button>
    </mat-action-row>
  </mat-card>
</form>
